{% extends 'base.html' %}


{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
<h1>{{ post.title }}</h1>
<h2>{{ post.subtitle }}</h2>
<small>By: {{ post.author }} | Created on: {{ post.created_on }}</small>
<p>{{ post.body }}</p>

{% if user.is_authenticated %}
    {% if user.username == post.author.username %}
            <a href="{% url 'edit' post.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete' post.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
{% endif %}


{% endblock content %}